a {
    background-color: transparent;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    filter: opacity(70%);
}

a:hover {
    color: white;
    filter: opacity(100%);    
    cursor: pointer;
}

/* Default styles */
li {
    color: white;
    list-style: none;
    filter: opacity(100%);    
}

ul {    
    border-radius: 0.5rem;
    background-color: rgb(25, 135, 84);    
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

/* Responsive styles for small laptops */
@media (max-width: 1024px) {
    ul {
        flex-direction: column;
        padding: 0.8rem;
    }

    li {
        margin-bottom: 0.5rem;
        text-align: center;
    }
}


